<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="netfx-System.SequentialGuid" version="1.0.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="SemanticGit" version="2.1.22" targetFramework="net40" developmentDependency="true" />
  <package id="xmisc.foundation.concretes" version="1.0.38-rc-8b5588b" targetFramework="net40" />
  <package id="xmisc.foundation.contracts" version="1.0.27-rc-518e9e8" targetFramework="net40" />
  <package id="xmisc.infrastructure.contracts" version="1.0.33-rc-297e7ac" targetFramework="net40" />
</packages>